[Reference Paths]
GRCh37cds: /xchip/cga_home/margolis/mutationsToNeoantigen/goldStandard/Homo_sapiens.GRCh37.cds.all.fa
GRCh37cdna: /xchip/cga_home/margolis/mutationsToNeoantigen/goldStandard/Homo_sapiens.GRCh37.cdna.all.fa
GRCh38cds: /xchip/cga_home/margolis/mutationsToNeoantigen/goldStandard/Homo_sapiens.GRCh38.cds.all.fa
GRCh38cdna: /xchip/cga_home/margolis/mutationsToNeoantigen/goldStandard/Homo_sapiens.GRCh38.cdna.all.fa
